<%= render partial: 'home/global', locals: {section: "#{@sHomework.homework.title} 제출"} %>

<div class="container">
  <div class="submitted-homework-section">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        <% if @sHomework.img.url.nil? %>
          <%= image_tag asset_path("default.png"), id: "preview-img", class: "preview-img" %>
        <% else %>
          <%= image_tag @sHomework.img.url, id: "preview-img", class: "preview-img" %>
        <% end %>
      </div>
    </div>
    <%= form_for @sHomework, html: { multipart: true, class: "form-group" } do |f| %>
      <%= render partial: 'form', locals: { sHomework: @sHomework, f: f } %>
    <% end %>
  </div>
</div>
