<%= render partial: 'global', locals: {section: "Member"} %>

<section class="company-description">
  <div class="container">
    <div class="row">
      <div class="col-md-6 wow fadeInLeft" data-wow-delay=".3s" >
        <img src="<%= asset_path("members.jpg") %>" alt="" class="img-responsive">
      </div>
      <div class="col-md-6">
        <div class="block">
          <p  class="wow fadeInUp" data-wow-delay=".7s" data-wow-duration="500ms">
          여기, 서울대 멋쟁이 사자처럼이 있습니다. <br>
          코딩을 전혀 모르던 사람, 컴퓨터를 잘 아는 사람.<br>
          무언가 배우고 싶어하는 사람과 자신의 서비스를 만들고 싶은 사람.<br>
          세상을 다르게 보는 사람들. <br>
          <br>
          그들은 기존의 공식을 따르지 않습니다.<br>
          그들은 새롭게 주변을 바꾸어 나갑니다.<br>
          당신은 그들의 행동을 따라할 수도, 반대할 수도, 지지할 수도, 비판할 수도 있습니다.<br>
          <br>
          하지만 당신은 절대<br>
          그들을 무시할 수는 없습니다.<br>
          <br>
          왜냐면 그들은<br>
          주변을 바꾸고<br>
          세상을 바꿔나가기 때문입니다.<br>
          <br>
          누군가는 이들을 미친 사람으로 볼 수도 있지만,<br>
          우리는 그들을 천재로 봅니다.<br>
          왜냐면 세상을 바꿀 수 있다고 생각하는 미친 사람들이<br>
          결국엔 세상을 바꾸기 때문입니다.
          </p>
        </div>
      </div>
    </div> 
  </div> 
</section> 

<section id="team"> 
  <div class="container"> 
    
    <div class="row"> 
      <h2 class="subtitle text-center">5기</h2> 
          <% @members_5.each do |m| %> 
            <div class="col-md-2">
              <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".3s">
                <div class="team-img">
                  <img src= "<%= asset_path m[:name] + ".png" %>" class="team-pic" alt="">
                </div>
                <h3 class="team_name"><%= m[:name] %></h3>
                <p class="team_designation"><%= m[:major] %></p>
              </div>
            </div>
          <% end %>
        </div>

        <div class="row">
          <h2 class="subtitle text-center">4기</h2>
          <% @members.each do |m| %>
            <div class="col-md-2">
              <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".3s">
                <div class="team-img">
                  <img src= "<%= asset_path m[:name] + ".png" %>" class="team-pic" alt="">
                </div>
                <h3 class="team_name"><%= m[:name] %></h3>
                <p class="team_designation"><%= m[:major] %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </section>
