<%= render partial: 'global', locals: {section: "Member"} %>

<!--
==================================================
    Company Description Section Start
================================================== -->
<section class="company-description">
    <div class="container">
        <div class="row">
            <div class="col-md-6 wow fadeInLeft" data-wow-delay=".3s" >
                <img src="<%= asset_path("members.jpeg") %>" alt="" class="img-responsive">
            </div>
            <div class="col-md-6">
                <div class="block">
                    <h3 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">History</h3>
                    <p  class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">

                    </p>

                    <p  class="wow fadeInUp" data-wow-delay=".7s" data-wow-duration="500ms">
                        Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<!--
==================================================
    Company Feature Section Start
================================================== -->
<section class="about-feature clearfix">
    <div class="container">
        <div class="row center">
            <div class="block about-feature-1 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">
                <h2>
                Why Choose Us
                </h2>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas.
                </p>
            </div>
            <div class="block about-feature-2 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                <h2 class="item_title">
                What You Get
                </h2>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas.
                </p>
            </div>
        </div>
    </div>
</section>


<!--
==================================================
    Team Section Start
================================================== -->
<section id="team">
  <div class="container">
    <div class="row">
      <h2 class="subtitle text-center">Meet The Team</h2>
      <% @members.each do |m| %>
        <div class="col-md-2">
          <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".3s">
            <div class="team-img">
              <img src= "<%= asset_path m[:name] + ".png" %>" class="team-pic" alt="">
            </div>
            <h3 class="team_name"><%= m[:name] %></h3>
            <p class="team_designation"><%= m[:major] %></p>
            <!--
            <p class="team_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore </p>
            -->
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
<!--
==================================================
Call To Action Section Start
================================================== -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">궁금한 점이 있나요?</h1>
          <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">멋쟁이 사자처럼 at SNU 페이스북 페이지에 메시지를 남겨주세요.</p>
          <a href="https://www.facebook.com/likelionatSNU/" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms">Leave a Message</a>
        </div>
      </div>
    </div>
  </div>
</section>
