<%= render partial: 'home/global', locals: {section: @homework.title } %>

<section id="works" class="works">

<div class="container">
  <div class="row">
    <% @homework.submitted_homeworks.each do |i| %>
      <div class="col-sm-4 col-xs-12">
        <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
        <div class="img-wrapper text-center">
          <%= link_to i.img.url do %>
            <%= image_tag "#{i.img.url}", class: "img-responsive", alt: "" %>
          <% end %>
        </div>
        <figcaption>
        <h3>
          <%= User.find(i.user_id).name %>
        </h3>
        <h4>
          <%= i[:title] %>
          <% if user_signed_in? %>
            <% if current_user.id == i.user_id %>
              <div class= "edit-tool">
                <%= link_to submitted_homework_path(i.id), method: "delete", data: {confirm: "정말 삭제하나요?"} do %>
                  [삭제]
                <% end %>
              </div>
            <% end %>
          <% elsif admin_signed_in? %>
            <div class= "edit-tool">
              <%= link_to submitted_homework_path(i.id), method: "delete", data: {confirm: "정말 삭제하나요?"} do %>
                [삭제]
              <% end %>
            </div>
          <% end %>
        </h4>
        </figcaption>
        </figure>
      </div>
    <% end %>
  </div>
  </div>
</section> <!-- #works -->
