<!DOCTYPE html>
<html class="no-js">
  <head>
    <title>SNULion</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <header id="top-bar" class="navbar-fixed-top animated-header">
    <div class="container">
      <div class="navbar-header">
        <!-- responsive nav button -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- /responsive nav button -->

        <!-- logo -->
        <div class="navbar-brand" style="padding: 0;">
          <a href="/" style="margin: 0; padding: 0;">
            <%= image_tag "snulion_logo_wide2.png", size: "173x49" %>
          </a>
        </div>
        <!-- /logo -->
      </div>
      <!-- main menu -->
      <nav class="collapse navbar-collapse navbar-right" role="navigation">
        <div class="main-menu">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/" >Home</a></li>
            <li><a href="/member">Member</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <% if user_signed_in? or admin_signed_in? %>
              <li><a href="/money/money_check">Money</a></li>
              <li><a href="/lecture/lecture">Lecture</a></li>
            <% end %>
            <% if user_signed_in? %>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            <% elsif admin_signed_in? %>
              <li><%= link_to "Logout", destroy_admin_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Login", new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
      </nav>
      <!-- /main nav -->
    </div>
    </header>
    <%= yield %>
    <!--
    ==================================================
    Footer Section Start
    ================================================== -->
    <footer id="footer">
      <div class="container">
        <div class="col-md-8">
          <p class="copyright">Copyright: <span>2017</span> 멋쟁이 사자처럼 </p>
        </div>
        <div class="col-md-4">
          <!-- Social Media -->
          <ul class="social">
            <li>
            <a href="https://www.facebook.com/likelionatSNU" class="Facebook">
              <i class="ion-social-facebook"></i>
            </a>
          </ul>
        </div>
      </div>
    </footer> <!-- /#footer -->
  </body>
</html>
